# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini